useDynLib(l01segmentation, .registration=TRUE)
export(plotsegments)
export(plotgroupsegments)
export(fusedsegmentation)
export(groupfusedsegmentation)
export(compressBigwig)
export(compressBigwigbyBinning)
export(compressMethylation)
export(compressMethylationMulti)
import(bsseq)
importFrom(tibble, add_column)
importFrom(BiocParallel, MulticoreParam)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(doParallel, registerDoParallel)
importFrom(IRanges, IRanges)
importFrom(GenomicRanges, GRanges)
importFrom(GenomicRanges, makeGRangesFromDataFrame)
importFrom(rtracklayer, import)
importFrom(rtracklayer, BigWigFile)
importFrom(GenomeInfoDb, seqlengths)
importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")
