useDynLib(l01segmentation, .registration=TRUE)
export(plotsegments)
export(plotgroupsegments)
export(fusedsegmentation)
export(groupfusedsegmentation)
export(compressBigwig)
export(compressBigwigbyBinning)
export(compressMethylation)
export(compressMethylationMulti)
export(blockedCVpoisson)
import(bsseq)
import(BiocParallel)
import(DelayedArray)
importFrom(tibble, add_column)
importFrom(Rcpp, evalCpp)
importFrom(R.utils, createLink)
importFrom(parallel, detectCores)
importFrom(doParallel, registerDoParallel)
importFrom(IRanges, IRanges)
importFrom(GenomicRanges, GRanges)
importFrom(GenomicRanges, makeGRangesFromDataFrame)
importFrom(GenomicRanges, findOverlaps)
importFrom(rtracklayer, import)
importFrom(rtracklayer, BigWigFile)
importFrom(GenomeInfoDb, seqlengths)
importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")
importFrom(S4Vectors, Rle)
importFrom(S4Vectors, queryHits)
